/* ------------ Product List Wrapper -------------*/
.cartListAndACtionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentWrapper {
    flex-basis: 200px;
    padding: 20px;
}

/* ------------ Product -------------*/
.cartListWrapper {
    background-color: white;
    text-align: end;
    font-weight: 800;
    color: #5b6150;

    flex-grow: 1;
}

.productWrapper h1 {
    font-weight: 300;
}

.productWrapper .productDetailWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.productWrapper .productDetailWrapper .contentWrapper {
    flex-basis: 300px;
}

.productWrapper .productDetailWrapper img {
    max-width: 50%;
    max-height: 80%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 45px;
    flex-grow: 1;
}

.productWrapper .productDetailWrapper .descriptionDisplay {
    margin: 10px 0;
    padding: 20px;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: 200;
    flex-grow: 3;
}

/* ------------ Cart -------------*/
.actionWrapper {
    background-color: #255038;
    color: #dfe4d7;


    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: baseline;

}

.priceTag {
    font-size: 1.5em;
    font-weight: 400;
}

.priceTag em{
    font-size: 1.8em;
    font-weight: 600;
}

.actionWrapper button{
    color: #dfe4d7;
   background-color : #3e7c59;
}

.cartActionButton {
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #dfe4d7;
    text-decoration: none;
    color: #3e7c59;
    text-align: center;
    cursor: pointer;
}


