/* ------------ Cart List & Action Wrapper -------------*/
.cartListAndACtionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentWrapper {
    flex-basis: 200px;
    padding: 20px;
}

/* ------------ Cart List  -------------*/
.cartListWrapper {
    background-color: white;
    text-align: left;
    font-weight: 800;
    color: #5b6150;

    flex-grow: 1;
}



/* Cart List Controlling Buttons*/
.disable {
    background-color: #234934;
    cursor: default;
    visibility: hidden;
}

.enable {
    background-color: #3e7c59;
    cursor: pointer;
}


/* ------------ Cart Actions  -------------*/
.actionWrapper {
    background-color: #255038;
    color: #dfe4d7;


    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: baseline;
    flex-direction: column;

}
/* Guidelines*/

.guidelinesWrapper {
    padding:10px; 
    border: 1px solid #1d422d;
    border-radius: 10px;
    cursor: default ;
}

.loginButton {
    background-color: #1e422e;
    color: #dfe4d7;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}





/* Guiding Buttons*/
.guidingButtonsWrapper {
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items:end;
    padding: 5px;
}

.guidingList {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

    display: flex;

}

.guidingButtons {
    max-height: 30px;
    padding: 10px;
    flex-basis: 50%;
    

}

.guidingButtons img{
    max-width: 50px;
    max-height: 25px; 
}


.guidingButtonsLeft{
    text-align: left;
}

.guidingButtonsRight{
    text-align: right;
}





