/* ------------ Payment & Action Wrapper -------------*/
.paymentAndACtionWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentWrapper {
    flex-basis: 200px;
    padding: 20px;
}


/* Control the Page Component Visbility */
.disable {
    display: none !important;
}

.enable {
    display: block !important;
}


/* ------------ Checkout Page  -------------*/
.checkOutFormtWrapper {
    background-color: white;
    text-align: left;
    font-weight: 800;
    color: #5b6150;

    flex-grow: 1;
}


/* ------------ Cart Actions  -------------*/
.actionWrapper {
    background-color: #255038;
    color: #dfe4d7;


    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-content: baseline;
    flex-direction: column;

}
/* Guidelines*/

.guidelinesWrapper {
    padding:10px; 
    border: 1px solid #1d422d;
    border-radius: 10px;
    cursor: default ;
    background-color: #dfe4d7;
    color: #1d422d;
}

.paymentButton {
    display: block;
    background-color: #1e422e;
    color: #dfe4d7;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

.loginButton {
    background-color: #1e422e;
    color: #dfe4d7;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

/*------------ Submit Form --------------------*/ 
.checkOutFormSubmit {
    background-color: #1e422e;
    color: antiquewhite;
    width: 100%;
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
    
}





/* Guiding Buttons*/
.guidingButtonsWrapper {
    width: 100%;
    flex-grow: 1;

    display: flex;
    align-items:end;
    padding: 5px;
}

.guidingList {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

    display: flex;
}


.guidingButtonsWrapper .disable{
    display: block !important;
    visibility: hidden;
    cursor: default;
}

.guidingButtonsWrapper .enable{
    visibility: visible;
    cursor: pointer;
    background-color: #2f774e;
    border: 1px solid #1d422d;
}



.guidingButtons {
    max-height: 30px;
    padding: 10px;
    flex-basis: 50%;
}

.guidingButtons img{
    max-width: 50px;
    max-height: 25px; 
}


.guidingButtonsLeft{
    text-align: left;
}

.guidingButtonsRight{
    text-align: right;
}



/* -----------Complete Page ---------------*/

.completePageWrapper {
    background-color: white;
    text-align: left;
    font-weight: 800;
    color: #5b6150;
    border-radius: 15px;
    padding: 10px;

    flex-grow: 1;
}


